.homepageBodyRoot {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.searchTitle {
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: 'Bebas Neue'
}

.searchInput {
    background: transparent;
    border: 2px solid #fff;
    padding: 0.5rem 0;
    padding-left: 3rem;
    width: 344px;
    color: #fff;
    font-size: 24px;
    background-image: url('/searchIcon.svg');
    background-repeat: no-repeat;
    background-position: 2% center;
}

.searchAutocomplete {
    background: #fff;
    width: 344px;
    max-height: 350px;
    overflow: auto;
}

.autocompleteResult:hover {
    background-color: #eee;
    cursor: pointer;
}

.autocompleteResult {
    display: flex;
    align-items: center;
    gap: 5%;
    overflow: hidden;
}

.resultTitle {
    font-size: 18px;
}